/* ======================================= header ======================================= */
.header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 var(--box-shadow);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    /* ===================== left box ==================== */
    /* ===================== right box ==================== */
}

    .header .wrapper {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .header .left-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        font-size: 2rem;
        gap: 20px;
    }

    .header .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95%;
        width: 250px;
        align-self: flex-start;
        overflow: hidden;
        padding: 20px;
    }

    .header .logo__img {
        width: 80%;
        object-fit: cover;
        object-position: bottom;
    }

    .header .form-check-input {
        cursor: pointer;
        border: 1px solid var(--bg-color-header);
        transition: 0.5s;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
    }

        .header .form-check-input:checked {
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, );
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
            background-color: var(--bg-color-header);
        }

        .header .form-check-input:focus {
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, );
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
        }

    .header .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-2);
        font-size: 2rem;
    }

    .header .search-box {
        display: flex;
        align-items: center;
    }

        .header .search-box.active .search-box__input {
            width: 200px;
            padding: 6px 15px;
            color: var(--text-color-3);
        }

        .header .search-box.active .search-box__close-icon {
            display: inline-block;
        }

    .header .search-box__close-icon {
        display: none;
    }

    .header .search-box__close-icon, .header .search__icon, .header .screen__icon {
        padding: 10px;
        cursor: pointer;
    }

    .header .search-box__input {
        color: var(--text-color);
        width: 0;
        font-size: 1.8rem;
        padding: 0;
        border: 0;
        transition: 0.5s ease;
    }

    .header .screen__icon {
        display: none;
        color: var(--text-color-2);
    }

    .header .screen .active {
        font-size: 2rem;
        display: inline-block;
    }

    .header .right-box__btn-dropdown {
        color: var(--text-color);
        padding: 10px;
        display: none;
        cursor: pointer;
        line-height: 0;
    }

    .header .notification:hover, .header .message:hover, .header .search-box__close-icon:hover, .header .screen__icon:hover, .header .search__icon:hover {
        color: var(--color-hover);
    }

    .header .right-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 0 20px;
        font-size: 2rem;
    }

        .header .right-box .search, .header .right-box .screen {
            display: none;
        }

    .header .notification, .header .message {
        position: relative;
        cursor: pointer;
        color: var(--text-color-2);
    }

    .header .notification__quantity, .header .message__quantity {
        position: absolute;
        top: -5px;
        right: -10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        font-size: 1rem;
        font-weight: 200;
        background-color: var(--color-hover);
        color: var(--text-color-2);
        border-radius: 50px;
    }

    .header .btn-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        gap: 10px;
        color: var(--text-color-2);
    }

        .header .btn-admin:focus {
            box-shadow: 0 0 0 0 transparent;
        }

        .header .btn-admin:hover {
            color: var(--color-hover);
        }

        .header .btn-admin .admin__img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
        }

        .header .btn-admin .admin__name {
            font-size: 1.8rem;
            margin: 0;
            color: currentColor;
        }

    .header .dropdown-toggle::after {
        display: none;
    }

    .header button:focus:not(:focus-visible) {
        outline: none;
    }

    .header .dropdown-menu {
        min-width: 300px;
        box-shadow: 0 2px 4px 0 var(--box-shadow);
        top: 5px !important;
    }

        .header .dropdown-menu::before {
            content: "";
            z-index: -1;
            top: -9px;
            right: 30px;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 2px;
            transform: rotate(45deg);
            box-shadow: -2px -2px 2px var(--box-shadow);
        }

    .header .dropdown-item {
        display: flex;
        align-items: center;
    }

    .header .dropdown-item__title {
        font-size: 1.8rem;
        margin: 0 0 0 10px;
    }

    .header .dropdown-item__icon {
        font-size: 1.8rem;
    }
/* ======================================= end header ======================================= */
