<nav class="navbar" id="navbar">
    <div class="navigation">
        <h2 class="navigation__title">Navigation</h2>
        <ul class="navigation__list">
            <li class="navigation-item">
                <button class="navigation-item__btn btn" id="navigation-item__btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navigation-item__collapse-book"
                        aria-expanded="false" aria-controls="navigation-item__collapse-book">
                    <span class="navigation-item__icon-btn">
                        <i class="fa-brands fa-product-hunt"></i>
                    </span>
                  Quản lý sách
                    <span class="navigation-item__icon-btn-down">
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </button>
                <div class="navigation-item__collapse-book collapse" id="navigation-item__collapse-book">
                    <a class="navigation-item__link" href="/Admin/SanPham" data-menu="list-book">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Danh sách sách</h3>
                    </a>
                    <a class="navigation-item__link" href="/Admin/DanhMuc/Index" data-menu="book-category">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Thể loại</h3>
                    </a>
                </div>
            </li>

            <li class="navigation-item">
                <a href="/Admin/DocGia" class="navigation-item__btn btn single" data-menu="list-reader">
                    <span class="navigation-item__icon-btn">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    Quản lý độc giả
                </a>
            </li>
            <li class="navigation-item">
                <a href="/Admin/NhanVien" class="navigation-item__btn btn single" data-menu="list-author">
                    <span class="navigation-item__icon-btn">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    Quản lý tác giả
                </a>
            </li>


            <li class="navigation-item">
                <a href="/Admin/NhanVien" class="navigation-item__btn btn single" data-menu="list-account">
                    <span class="navigation-item__icon-btn">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    Quản lý nhân viên
                </a>
            </li>
        </ul>
    </div>
</nav>
