<nav class="navbar" id="navbar">
    <div class="navigation">
        <h2 class="navigation__title">Navigation</h2>
        <ul class="navigation__list">
            <li class="navigation-item">
                <button class="navigation-item__btn btn" id="navigation-item__btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navigation-item__collapse-product"
                        aria-expanded="false" aria-controls="navigation-item__collapse-product">
                    <span class="navigation-item__icon-btn">
                        <i class="fa-brands fa-product-hunt"></i>
                    </span>
                    Sản phẩm
                    <span class="navigation-item__icon-btn-down">
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </button>
                <div class="navigation-item__collapse-product collapse" id="navigation-item__collapse-product">
                    <a class="navigation-item__link" href="/Admin/SanPham" data-menu="list-product">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Danh sách sản phẩm</h3>
                    </a>
                    <a class="navigation-item__link" href="/admin/DanhMuc/Index" data-menu="product-category">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Danh mục sản phẩm</h3>
                    </a>
                </div>
            </li>

            <li class="navigation-item">
                <button class="navigation-item__btn btn" id="navigation-item__btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navigation-item__collapse-role"
                        aria-expanded="false" aria-controls="navigation-item__collapse-role">
                    <span class="navigation-item__icon-btn">
                        <i class="fa-solid fa-users-gear"></i>
                    </span>
                    Quản lí quyền
                    <span class="navigation-item__icon-btn-down">
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </button>
                <div class="navigation-item__collapse-role collapse" id="navigation-item__collapse-role">
                    <a class="navigation-item__link" href="/admin/PhanQuyen/" data-menu="list-role">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Nhóm quyền</h3>
                    </a>
                    <a class="navigation-item__link" href="/admin/PhanQuyen/ChiaQuyen" data-menu="permission">
                        <span class="navigation-item__icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <h3 class="navigation-item__title">Chia quyền</h3>
                    </a>
                </div>
            </li>

            <li class="navigation-item">
                <a href="/admin/DonHang" class="navigation-item__btn btn single" data-menu="list-order">
                    <span class="navigation-item__icon-btn">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    Danh sách Đơn Hàng
                </a>
            </li>

            <li class="navigation-item">
                <a href="/admin/TaiKhoan" class="navigation-item__btn btn single" data-menu="list-account">
                    <span class="navigation-item__icon-btn">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    Danh sách tài khoản
                </a>
            </li>
        </ul>
    </div>
</nav>
