body {
    background-color: #f7f7f7;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-title {
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

